{% extends 'base.html' %}

{% block title %}Сайт: {{ url_data.name }}{% endblock %}

{% block body %}
<h1 class="mb-4">Сайт: {{ url_data.name }}</h1>

<table class="table table-bordered" data-test="url">
    <tbody>
        <tr>
            <th style="width: 40%">ID</th>
            <td>{{ url_data.id }}</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td>{{ url_data.name }}</td>
        </tr>
        <tr>
            <th>Дата создания</th>
            <td>{{ url_data.created_at }}</td>
        </tr>
    </tbody>
</table>

<h2 class="mt-5 mb-4">Проверки</h2>

<form method="post" action="{{ url_for('create_check', url_id=url_data.id) }}">
    <button type="submit" class="btn btn-primary mb-4">Запустить проверку</button>
</form>

<table class="table table-bordered" data-test="checks">
    <thead>
        <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
        </tr>
    </thead>
    <tbody>
        {% for check in checks %}
        <tr>
            <td>{{ check.id }}</td>
            <td>{{ check.status_code if check.status_code else '' }}</td>
            <td>{{ check.h1 if check.h1 else '' }}</td>
            <td>{{ check.title if check.title else '' }}</td>
            <td>{{ check.description if check.description else '' }}</td>
            <td>{{ check.created_at }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Нет данных</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}